* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 1.4;
}

.container {
    margin: 0 auto;
    width: 420px;
}

nav {
    width: inherit;
    position: fixed;
    padding: 20px 20px;
    background-color: #000000;
}

.restaurant-list, .location, .content, .arrow {
   	float: left;
    width: inherit;
}


.restaurant-list {
    padding-top: 60px;
    background-color: #D8D8D8;
}

.location {
    border: .5px solid #5E5E5E;
}

.location:hover {
    background-color: #AAAAAA;
}

.content {
    padding: 3% 7%;
    width: 90%;
}

.arrow {
    padding-top: 6%;
    width: 10%;
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
}

h3 {
    font-size: 1.3em;
}
